

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  /* -webkit-appearance: none; */
  appearance: none;
}


body {
    background: rgb(4, 5, 20);
}

#experiment {
    margin: auto;
    background-color: white;
    height: 20px;
    width: 200px;
}

.out-put {
    background: rgb(255, 255, 255);
    width: 204,5px;
    height: 50px;
    border: 1px solid black;
}

.container {
    margin: 150px auto;
    height: 206px;
    width: 206px;

}
.num {
    display: flex;
    flex-direction: column;
}
.flex-num {
    display: flex;
}
.flex-num-2 {
    display: flex;
    flex-direction: row-reverse;
}

.number {
    background: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    border: 1px solid black;
    user-select: none;
}
.equals {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    border: 1px solid black;
    user-select: none;
    background-color: crimson;
}

.number:hover {
    background-color: lightslategrey;
    cursor: pointer;
}

.number:active {
    filter: brightness(90%)
}
 
.equals:hover {
    filter: brightness(130%);
}
.equals:active {
    filter:brightness(80%)
}